# Préparation de l'espace de travail

## Importations

In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Lecture des bases de données

In [3]:
# Lecture des différentes feuilles du Excel medecins
df_medecinsEffectif = pd.read_excel("medecins.xlsx", sheet_name=1)
df_medecinsAge = pd.read_excel("medecins.xlsx", sheet_name=2)
df_medecinsDensite = pd.read_excel("medecins.xlsx", sheet_name=3)
df_medecinsEffectifsParSpe = pd.read_excel("medecins.xlsx", sheet_name=4)
df_medecinsEffectifsParLieu = pd.read_excel("medecins.xlsx", sheet_name=5)
df_medecinsNombreActivites = pd.read_excel("medecins.xlsx", sheet_name=6)

In [4]:
# Lecture du csv santePublique
df_santePublique = pd.read_csv("santePublique.csv", sep=";")

In [29]:
# Lecture du Excel APL : tableau de la pondération de la population
# (consommation moyenne en soins de la tranche d'âge rapportée à la consommation moyenne de la population)
df_pond_population = pd.read_excel("APL.xlsx", sheet_name=0)[21:40]
df_pond_population.reset_index(drop=True, inplace=True)
df_pond_population.columns = ["Tranche d'âge", "Poids de la tranche d'âge en 2022", "Poids de la tranche d'âge en 2023"]

# Lecture de la table APL pour 2022
df_APL_2022 = pd.read_excel("APL.xlsx", sheet_name=1)[8:]
df_APL_2022.drop(8,inplace=True)
df_APL_2022.reset_index(drop=True, inplace=True)
df_APL_2022.columns = ["Code commune INSEE", "Commune", "APL_2022", "APL_2022_moins_65", "APL_2022_moins_62", "APL_2022_moins_60", "population_standard_2020", "population_totale_2020"]

# Lecture de la table APL pour 2023
df_APL_2023 = pd.read_excel("APL.xlsx", sheet_name=2)[8:]
df_APL_2023.drop(8,inplace=True)
df_APL_2023.reset_index(drop=True, inplace=True)
df_APL_2023.columns = ["Code commune INSEE", "Commune", "APL_2023", "APL_2023_moins_65", "APL_2023_moins_62", "APL_2023_moins_60", "population_standard_2021", "population_totale_2021"]

# Merging des deux tables sur la clé du code commune INSEE
df_APL = df_APL_2022.merge(right=df_APL_2023, how="left", on=["Code commune INSEE", "Commune"])
df_APL

,Code commune INSEE,Commune,APL_2022,APL_2022_moins_65,APL_2022_moins_62,APL_2022_moins_60,population_standard_2020,population_totale_2020,APL_2023,APL_2023_moins_65,APL_2023_moins_62,APL_2023_moins_60,population_standard_2021,population_totale_2021
0,01001,L'Abergement-Clémenciat,1.89,1.828,1.799,1.491,810.855,806,1.942,1.881,1.623,1.455,838.154,832
1,01002,L'Abergement-de-Varey,2.649,2.059,1.83,1.493,250.962,262,2.376,1.767,1.503,1.333,255.723,267
2,01004,Ambérieu-en-Bugey,3.646,2.88,2.697,2.253,14002.685,14288,3.083,2.431,2.136,1.855,14575.887,14854
3,01005,Ambérieux-en-Dombes,3.978,3.959,3.312,3.041,1733.232,1782,3.706,3.648,3.015,2.998,1852.496,1897
4,01006,Ambléon,0.926,0.796,0.746,0.588,121.438,113,0.889,0.775,0.648,0.57,121.314,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34959,97420,Sainte-Suzanne,3.701,3.096,2.588,2.151,21899.922,24086,3.764,3.235,2.64,2.36,22314.19,24293
34960,97421,Salazie,4.081,3.194,3.194,2.308,6768.561,7310,3.354,2.465,1.576,1.576,6748.4,7243
34961,97422,Le Tampon,5.422,4.575,4.131,3.638,74961.891,80778,5.475,4.497,4.09,3.643,76427.591,81943
34962,97423,Les Trois-Bassins,6.507,5.367,5.367,5.367,6596.222,6953,5.044,5.044,5.044,5.044,6571.416,6899
34963,97424,Cilaos,3.817,2.676,2.676,2.676,5260.259,5568,3.909,2.754,2.754,2.754,5193.741,5390

# Visualisation des bases de données

## Base santePublique

In [6]:
print(df_santePublique.columns)

# Tri à plat de la variable patho_niv1
# freq = df_santePublique["patho_niv1"].value_counts()
# print(freq)

# plt.figure(figsize=(12, 5))
# sns.barplot(x=freq.index, y=freq.values)
# plt.xlabel("Valeurs")
# plt.xticks(rotation=90)
# plt.ylabel("Fréquence")
# plt.title("Fréquence de chaque valeur")
# plt.show()

df_santePublique

Index(['version https://git-lfs.github.com/spec/v1'], dtype='object')

          version https://git-lfs.github.com/spec/v1
0  oid sha256:f773f35b591532030f3f91df00dcfef9481...
1                                     size 891302048

In [ ]:
print(df_santePublique.columns)

df_santePublique['cla_age_5'].value_counts()
df_santePublique['patho_niv1'].value_counts()
df_santePublique['region'].value_counts()
df_santePublique['annee'].unique()
df_santePublique['patho_niv3'].unique()

In [ ]:
# Evolution de la prévalence des grossesses à Paris entre 2015 et 2023

df = df_santePublique[
    (df_santePublique['patho_niv3']=='Maternité (avec ou sans pathologies)') &
    (df_santePublique['cla_age_5']=='tsage') &
    (df_santePublique['sexe']==9) &
    (df_santePublique['dept']=='75')
].sort_values('annee').reset_index()

# Création de la variable prev_agrege qui donne la prévalence pour chaque pathologie, tout âge confondu
df_santePublique['prev_agrege'] = df_santePublique['Ntop_agrege'] / df_santePublique['Npop_agrege']

## Base medecins

In [ ]:
print(df_medecinsEffectif.columns)
print(df_medecinsEffectif['territoire'].unique())
print(df_medecinsEffectif['specialites_agregees'].unique())
print(df_medecinsEffectif['specialites'].unique())